doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', type='text/css', href='build/build.css')
    title Playing in the mud

  body
    article

      section
        h2 Playing in the mud
        h3 by &nbsp;
          a(href="http://twitter.com/mcdonnelldean") @mcdonnelldean
        a(href="http://nearform.com" style="width: 15%")
          img(src="./images/nearform.svg")

      section
        h2 Developer @ nearForm
        h3 Open Source Group
        h4 Primarily focused on
        h4 Microservices

      section
        h2 What are we building?
        h3 "Real World" systems & tooling
        p a developer focused search engine
        p tools to improve developer experience
        p systems that can be used as reference

      section
        h2 Why are we doing this?
        h3 To sustain ourselves and our customers
        p we dog-food our own work
        p our customers benefit
        p we empower the community
        p move things forward

      section
        img(src="./images/javascript-microservices.jpg")

      section
        h2 Bye bye comfort zone
        h3 Your logic has no power here
        h4 Fundamentally similar, totally different

      section
        h2 My Pillars
        h3 3 quotes I live by

      section
        h4
          i.fa.fa-quote-left &nbsp;
          | I thought of objects being like biological cells and/or individual
          | computers on a network, only able to communicate with messages.
          i.fa.fa-quote-right &nbsp;
        br
        h5 - Alan Kay, Father of OOP

      section
        h4
          i.fa.fa-quote-left &nbsp;
          | A diamond is very pretty
          | but it is hard to add to a diamond.
          | A ball of mud is not so pretty
          | but you can always add more mud to a ball of mud.
          i.fa.fa-quote-right &nbsp;
        br
        h5 - Joel Moses / Paul Penfield

      section
        h4
          i.fa.fa-quote-left &nbsp;
          | Software development is an art. It’s not predictable enough to be engineering.
          | It’s not rigorous enough to be science.
          i.fa.fa-quote-right &nbsp;
        br
        h5 - Richard Rodger, nearForm CTO

      section
        h2 My Tips
        h3 5 things I have come to understand

      section
        h2 1. It must run in isolation
        h3 If I can't run it in isolation it's not a Microservice!
        p There is a fine line between Microservices and a distributed monolith.

      section
        h2 2. The network hates you
        h3 And will at times actively refuse to participate.
        p You must robustly counter it's attempts to ruin your day at all points in your system.

      section
        h2 3. Track vitals
        h3 Logs will not help you at scale.
        p Identify your systems pulse points. Track these live to see how your system is behaving.

      section
        h2 4. Version aggressively
        h3 Don't be like me
        p Failure to version correctly will take the whole system down

      section
        h2 5. Give it a week
        h3 Demo progress. Every. Single. Week
        p The demo never lies. You will only ever be a week behind if it's wrong.


      section
        h2 Demo Time
        br
        br
        img(src="./images/logo-nodezoo.png" style="width: 40%")
        br
        h5 A microservice based search engine for node.js modules.
        br
        br
        img(src="./images/fuge-logo.png" style="width: 60%")
        br
        h5 A microservice execution environment.

      section
        h2 Wrap up
        h3 Lets hope the demo worked eh :D

      section
        h2 Links
        ul.bullet
          p
            a(href="https://github.com/nodezoo") Nodezoo (github.com/nodezoo)
          p
            a(href="https://github.com/apparatus/fuge") Fuge (github.com/apparatus/fuge)

      section
        h2 Get the slides
        p
          p online
          a(href="http://playing-in-the-mud.mcdonnelldean.me").
            playing-in-the-mud.mcdonnelldean.me
        p
          p on github
          a(href="https://github.com/mcdonnelldean/playing-in-the-mud").
            github.com/mcdonnelldean/playing-in-the-mud


      section.full-imgs
        img(src='images/me.png')
        a(href="http://github.com/mcdonnelldean") github.com/mcdonnelldean

      section
        h1 Thanks!
        h3 Come say hello!
        p <a href="mailto:dean.mcdonnell@nearform.com">dean.mcdonnell@nearform.com</a>
        p <a href="http://twitter.com/mcdonnelldean">@mcdonnelldean</a>
        br
        a(href="http://nearform.com" style="width: 15%")
          img(src="./images/nearform.svg")

    script(src='build/build.js')
